@charset "UTF-8";

body {
	background-color: #e9b96e
}

p.azul{
	
	color: blue
}
#titulo {
	font-family: Times New Roman;
	size: 50px;
	text-align: center
}
#cafe {
	
	margin: 200px;
	color: red
}
h2.izquierda {
	
	text-align: left
}
h2.centro {
	
	text-align: center
}
h2.derecha {
	
	text-align: right
}
img {
	width: 200px
}